h1{font-family: fantasy;}
    
h2{font-family: 'Times New Roman', Times, serif;}
h6{font-family: 'Times New Roman', Times, serif;}

.container{
    display: grid;
}

form{
    margin-bottom: 20px;
}